<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <title>AWS</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="/static/v2/img/favicon.png" rel="icon">

  <!-- Bootstrap CSS File -->
  <link href="/static/v2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/static/v2/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/static/v2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/static/v2/css/style.css" rel="stylesheet">


</head>


<body>
<section id="mlogin-top" class="container-fluid">
  <div class="header">
    <a href="/"><img src="/static/v2/img/logo.svg" alt="" title="AWS" class="m-logo"/></a>

  </div>
</section>

<section id="mlogin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>회원가입을 환영합니다.</h2>
        <div class="status">
          <ul class="d-flex">
            <li>정보입력</li>
            <li>가입인증</li>
            <li class="step">가입완료</li>
          </ul>
        </div>

        <p class="cnt text-center"> 축하합니다. 가입이 완료 되었습니다.
          <br/>
          <%= email %>
        </p>

        <a class="btn btn-block btn-style2" href="/">확인</a>



      </div>
    </div>
  </div>

</section>


<!-- JavaScript Libraries -->


<script src="/static/v2/lib/jquery/jquery.min.js"></script>
<script src="/static/v2/lib/jquery/jquery-migrate.min.js"></script>
<script src="/static/v2/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/v2/lib/wow/wow.min.js"></script>
<script src="/static/v2/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

</body>

</html>
