<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="utf-8">
    <title>Merkline</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/static/v2/img/favicon.png" rel="icon">

    <!-- Bootstrap CSS File -->
    <link href="/static/v2/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/static/v2/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/static/v2/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/static/v2/css/style.css" rel="stylesheet">


  </head>


  <body>
    <section id="mlogin-top" class="container-fluid">
      <div class="header">
        <a href="/"><img src="/static/v2/img/logo.svg" alt="" title="Merkline" class="m-logo"/></a>

      </div>
    </section>

    <section id="mlogin">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <ul class="tabs">

              <li>
                <input type="radio" name="tabs" id="tab2" checked>
                <label for="tab2">비밀번호재설정</label>
                <div id="tab-content2" class="tab-content">

                  <form id="findForm" method="POST" action="/find/password/reset">
                  <div class="form-group">
                    <small>비밀번호는 영문 대소문자, 숫자, 특수문자를 조합하여 설정해주세요.</small>
                    <input type="password" name="password" class="form-control" placeholder="비밀번호 8~16자리">
                  </div>

                  <div class="form-group">
                    <input type="password" name="passwordCheck" class="form-control" placeholder="비밀번호 재입력">
                  </div>

                  <div class="btn-area">
                    <button id="findFormBtn" type="submit" class="btn btn-block btn-style2">비밀번호 재설정</button>
                  </div>
                  </form>

                </div>

              </li>

            </ul>

          </div>
        </div>
      </div>

    </section>

    <form id="identificationForm" method="post">
      <input type="hidden" name="m" value="checkplusSerivce">
      <input type="hidden" name="EncodeData" value="">
    </form>

    <!-- JavaScript Libraries -->


    <script src="/static/v2/lib/jquery/jquery.min.js"></script>
    <script src="/static/v2/lib/jquery/jquery-migrate.min.js"></script>
    <script src="/static/v2/lib/wow/wow.min.js"></script>
    <script src="/static/v2/lib/touchSwipe/jquery.touchSwipe.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script>
      var password = '';
      $(document).ready(function () {
        var $findForm = $('#findForm');
        $findForm.find('#findFormBtn').click(function (e) {
          e.preventDefault();

          if ($findForm.find('[name=password]').val().length == 0) {
            alert('비밀번호를 입력해 주세요.');
            $findForm.find('[name=password]').focus();
            return false;
          }
          if ($findForm.find('[name=passwordCheck]').val().length == 0) {
            alert('비밀번호를 한번 더 입력해 주세요.');
            $findForm.find('[name=passwordCheck]').focus();
            return false;
          }
          if ($findForm.find('[name=password]').val() != $findForm.find('[name=passwordCheck]').val()) {
            alert('비밀번호가 다르게 입력 되었습니다.');
            $findForm.find('[name=password]').val('');
            $findForm.find('[name=passwordCheck]').val('');
            $findForm.find('[name=password]').focus();
            return false;
          }

          password = $findForm.find('[name=password]').val();
          post('/find/password/validate', {password: password}, function () {
            post('/identification/request', {code: 'resetPassword'}, function (data) {
              $('#identificationForm').find('[name=EncodeData]').val(data.encodeData);

              var target = new Date().getTime();
              var win = window.open('', target,
                'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
              win.focus();
              $('#identificationForm')
                .attr('action', 'https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb')
                .attr('target', target)
                .submit();
            });
          });
        });
      });

      function identificationSuccess(encodedData) {
        post('/find/password/reset', {identificationData: encodedData, password: password}, function (data) {
          alert('비밀번호가 변경 되었습니다.');
          location.href = '/auth/login';
        });
      }

      function identificationFail(errorCode, authType, cipherTime) {
      }
    </script>
  </body>

</html>
