<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>AA</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <script src="/static/vendors/jquery/jquery-3.3.1.min.js"></script>
  <script src="/static/vendors/jquery.number/jquery.number-2.1.3.min.js"></script>
  <script src="/static/vendors/moment/moment-2.20.1.min.js"></script>
  <script src="/static/js/common.js"></script>
  <script src="/static/js/ajax.js"></script>
</head>

<body>

<div>
  <%- body %>
</div>

</body>
</html>
