<div class="modal fade" id="terms" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detail">AWS Webinar 서비스 기본 약관</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body terms-detail">
                <h2> 제1장 총칙</h2>
                <ul>
                    <li>
                        <strong>제1조 (목적)</strong>
                        <p>본 약관은, 회원(이하 특별한 표시가 없는 한 개인 회원을 의미합니다. 법인 회원의 경우 서비스를 이용할 수 없습니다)이 체인스트림 주식회사 (이하 ‘회사’라 합니다)가 제공하는 암호화폐(Cryto-Currency, 이하 ‘가상화폐’, ‘가상통화’ 등의 명칭을 포괄하여 ‘암호화폐’라 합니다) 구매 서비스를 이용하는 데에 필요한 회사와 회원 사이의 권리, 의무 및 책임사항, 이용조건 및 절차 등 기본적인 사항을 규정함을 목적으로 합니다.</p>
                    </li>

                    <li>
                        <strong>제2조 (약관의 명시, 효력 및 변경)</strong>
                        <ul>
                            <li> 본 약관의 내용은 회사가 제공하는 웹페이지(https://.io)에 게시하거나 기타의 방법으로 공지하고, 고객이 본 약관에 동의하여 회사의 회원으로 가입함으로써 효력이 발생합니다.</li>
                            <li> 회사는 필요한 경우 관련 법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있습니다. 본 약관이 변경되는 경우 회사는 변경 사항을 시행일자로부터 7일 전부터 제1항의 방법으로 공지합니다.</li>
                            <li> 회사가 전 항에 따라 개정약관을 공지함과 동시에 공지일로부터 개정약관 시행일로부터 7일 후까지 회원이 거부의사를 표시하지 아니하면 승인한 것으로 본다는 뜻을 명확하게 고지하였음에도 불구하고, 회원의 거부 의사표시가 없는 경우 변경된 약관을 승인한 것으로 간주합니다. 회원이 개정약관에 동의하지 않을 경우, 회원은 제12조 제1항에 따라 이용계약을 해지할 수 있고, 이와 별개로 회사는 회원을 탈퇴 처리할 수 있습니다.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>제3조 (약관 외 준칙)</strong>
                        <p>본 약관에 규정되지 않은 사항에 대해서는 대한민국의 관련 법령 또는 회사가 정한 서비스의 개별 이용약관, 운영정책 및 규칙 등(이하 ‘세부지침’이라 합니다)의 규정에 따릅니다. 또한 본 약관과 세부지침의 내용이 충돌할 경우 세부지침에 따릅니다.</p>
                    </li>
                </ul>

                <h2>제2장 계정 및 관리</h2>

                <ul>
                    <li>
                        <strong>제4조 (계정 생성)</strong>
                        <ul>
                            <li> ‘계정(ID)’이란 서비스에서 회원을 식별하기 위하여 미리 등록한 문자, 특수문자, 숫자 등의 조합으로 본 서비스에서는 이메일 주소로 표시합니다. 회원이 본 약관에 동의하고 회원의 계정과 비밀번호를 등록한 후 필요한 경우 회사가 요구한 이메일 주소 또는 휴대전화번호 본인확인 서비스를 통하여 회원이 본인 인증 절차를 이행하면 회사가 가입을 승낙하는 절차로 생성됩니다.</li>
                            <li> 회원이 서비스를 이용하기 위하여 계정을 필요로 하는 경우, 회원은 자신의 진실된 정보를 기재하여 생성한 계정을 이용하여야 하고, 타인의 개인정보를 도용하거나 또는 이에 준하는 방법으로 관련 법령을 위반하여서는 아니됩니다. 회사는 회원이 제공한 정보가 사실과 일치하는지 여부를 확인하기 위하여 법령에 의하여 허용된 범위에서 전문기관을 통한 실명확인 또는 본인인증을 요청할 수 있습니다.</li>
                            <li> 회사는 회사가 제공하는 서비스 중 특정 서비스에 관하여는 세부지침 중 개별 서비스 이용약관에 대한 별도의 동의를 요구할 수 있습니다. 이 경우 회원은 하나의 계정에서 개별 서비스 이용약관에 대하여 자유롭게 동의할 수 있고, 동의한 범위 내에서 개별 서비스를 이용할 수 있습니다.</li>
                            <li> 본 약관에 동의하여 서비스에 가입할 경우, 회원은 회사의 AWS Webinar 서비스를 이용할 수 있습니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제5조 (계정 생성 거절 및 유보)</strong>
                        <ul>
                            <li> 회사는 아래와 같은 경우 고객의 계정 생성을 승낙하지 않을 수 있고, 특히 미성년자 또는 제한능력자는 계정을 생성할 수 없습니다.
                                <ul>
                                    <li>① 회사가 회원의 계정을 삭제한 경우</li>
                                    <li>② 회원이 다른 사람의 명의나 이메일 주소 등 개인정보를 이용하여 계정을 생성하려 하는 경우</li>
                                    <li>③ 계정 생성시 필요한 정보를 입력하지 아니하거나 허위의 정보를 입력한 경우</li>
                                    <li>④ 회원의 거주지에서 효력이 있는 대한민국 외의 법률에 따라 본 서비스 이용행위가 해당 법률의 위반을 구성하거나 구성할 현저한 위험이 있는 경우</li>
                                    <li>⑤ 미성년자 또는 제한능력자가 법정대리인의 동의 없이 회원에 가입한 것으로 확인되는 경우</li>
                                    <li>⑥ 회원이 서비스를 이용하는 과정에서 대한민국의 법령을 위반한 것이 확인된 경우</li>
                                    <li>⑦ 전기통신금융사기 등의 도구로 활용되었거나 전기통신금융사기 등으로 인한 피해금원이 입금 또는 출금된 것으로 확인된 경우</li>
                                    <li>⑧ 회원의 신청에 따른 계정이 생성되었음에도 불구하고 탈퇴를 신청하거나, 탈퇴 처리가 완료되었음에도 동일한 계정을 신청하는 등의 경우</li>
                                    <li>⑨ 회원의 개인정보가 유출되었거나 유출된 것으로 판단되는 경우</li>
                                    <li>⑩ 회원이 서비스를 이용하는 과정에서 발생한 회원의 불법행위로 인하여 회사에게 손해가 발생한 경우</li>
                                    <li>⑪ 대한민국 정부 및 산하기관의 정책 신설, 변경, 폐지 등으로 인하여 회사가 신규 계정을 생성할 수 없는 경우</li>
                                    <li>⑫ 회원의 계정 생성을 승낙하는 회사의 행위가 대한민국의 법률 위반 행위로 인식될 만한 현저한 우려가 있는 경우</li>
                                </ul>
                            </li>
                            <li> 회원이 제1항 각 호의 어느 하나에 위반하여 계정을 생성한 것으로 판명된 때에는 회사는 즉시 회원의 서비스 이용을 중단하는 등의 적절한 제한을 할 수 있습니다.
                            </li>
                            <li> 회사는 아래와 같은 경우 회원의 계정 신청에도 불구하고 회원의 계정 생성을 유보할 수 있습니다.
                                <ul>
                                    <li>① 제공 서비스 설비용량에 현실적인 여유가 없는 경우</li>
                                    <li>② 서비스 제공을 위한 기술적인 부분에 문제가 있다고 판단되는 경우</li>
                                    <li>③ 기타 회사가 재정적·기술적으로 유보가 필요하다고 인정하는 경우</li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li> <strong>제6조 (계정의 관리)</strong>
                        <ul>
                            <li> 계정은 회원 본인만 이용할 수 있고, 어떠한 경우에도 다른 사람이 회원의 계정을 이용하도록 허락할 수 없습니다. 그리고 회원은 다른 사람이 회원의 계정을 무단으로 사용할 수 없도록 직접 비밀번호 등을 관리하여야 합니다. 회원이 무단 사용을 발견하는 즉시, 회원은 고객센터를 통하여 회사에게 이를 통지하여야 하고, 회사는 즉시 계정의 이용중단 등의 조치를 취할 수 있습니다.
                            </li>
                            <li> 회원은 서비스 내 설정 화면을 통하여 회원의 정보를 열람하고 수정할 수 있습니다. 다만, 서비스의 제공 및 관리를 위해 필요한 계정, 전화번호, 개인을 식별할 수 있는 일부 정보는 수정이 불가능할 수 있습니다. 회원은 서비스 이용 신청시 고지한 내용에 변동이 있을 때에, 직접 서비스 내에서 변동된 정보를 수정하거나 이메일, 고객센터를 통하여 회사에 변동된 정보의 갱신을 요청하여야 하고, 최신의 정보를 유지하여야 합니다.
                            </li>
                            <li> 회사는 회원이 등록한 계정과 비밀번호 등이 회사에 등록된 것과 일치할 경우에는 별도의 확인절차 없이 이용자를 회원으로 간주합니다.</li>
                            <li> 회원의 계정 정보가 제3자에 의하여 도용당하여 불법행위에 이용될 경우, 회원은 전기통신금융사기에 의한 피해자 등을 포함한 불법행위로 인하여 손해를 입은 자에 대하여 손해배상의무를 부담할 수 있으므로, 각별히 유의하시기 바랍니다.</li>
                            <li> 회사가 회원이 서비스 내 정보에 기재한 전자우편, 전화번호 등에게 이용계약에 따른 중요한 내용을 통지하였음에도 불구하고, 회원이 제2항에 따른 의무를 이행하지 아니함으로 인하여 발생하는 불이익은 회원이 부담하여야 합니다.</li>
                        </ul>
                    </li>
                </ul>

                <h2>제3장 서비스의 이용</h2>

                <ul>
                    <li>
                        <strong>제7조 (서비스 제공 및 변경)</strong>
                        <ul>
                            <li> 회사는 AWS Webinar 서비스 등 회원이 인터넷과 모바일로 즐길 수 있는 다양한 서비스를 제공합니다. 회원은 모바일/웹페이지 및 어플리케이션에 접속하여 서비스를 이용할 수 있습니다.</li>
                            <li> 회사는 회원에게 제공하는 다양한 서비스 중 서비스의 성격에 따라 관련 법령 또는 기술적인 필요가 있는 경우 개별 이용약관 등의 동의를 요청할 수 있습니다. 이 경우 회원은 자신이 동의한 이용약관에 따른 개별 서비스를 이용할 수 있습니다.</li>
                            <li> 회사는 더 나은 서비스를 위하여 회원에게 서비스의 이용과 관련된 각종 고지, 관리 메시지 및 기타 광고를 비롯한 다양한 정보를 서비스에 표시하거나 회원의 전자우편, SMS 등으로 직접 발송할 수 있습니다.</li>
                            <li> 회사는 서비스 이용 중 개별 프로그램을 포함하여 시스템 오류가 발생하는 경우, 회사는 해당 오류로 인하여 발생한 잘못된 정보 등을 삭제하고 실제의 정보를 복원 또는 표시할 수 있고, 경우에 따라서 해당 오류가 발생하기 직전의 특정 시각 거래정보로 초기화 될 수 있습니다. 이 때, 시스템 오류 발생 인지 시점에 표시된 잘못된 정보가 변경될 경우, 이는 오류가 수정되어 실제 정보가 표시되는 것이므로, 회원은 실제 정보에 따른 서비스에 근거하여 권리를 행사하거나 의무를 부담할 수 있습니다.</li>
                            <li> 회원이 서비스를 이용하는 과정에서 발생하는 통신 및 금융비용은 회원이 이용하고 있는 통신 및 금융서비스의 이용 대가로, 회사와 아무런 관련이 없습니다.</li>
                        </ul>
                    </li>
                    <li>
                        <strong>제8조 (서비스 이용 방법 및 주의점)</strong>
                        <ul>
                            <li> 회원은 서비스를 자유롭게 이용할 수 있으나, 아래와 같은 범위 내에서 서비스 이용이 제한될 수 있습니다.
                                <ul>
                                    <li>① 회원은 회사의 서비스 제공을 방해할 수 없고, 회사가 허용하는 방법 이외의 다른 방법을 이용하여 서비스를 이용할 수 없습니다.</li>
                                    <li>② 다른 서비스 이용자의 정보를 무단으로 수집, 이용하는 행위, 서비스를 회원의 사업 또는 영업 목적으로 이용하는 행위(단, 회사와 별도의 계약을 체결한 경우에 한하여 예외적으로 허용될 수 있습니다), 공서양속 및 법령에 위반되는 내용의 정보 등을 발송하거나 게시하는 행위, 범죄 행위, 계정 정보 대여 또는 양도, 담보의 제공 행위는 금지됩니다.</li>
                                    <li>③ 회사의 동의 없이 서비스 또는 이에 포함된 소프트웨어의 일부를 복사, 수정, 배포, 판매, 양도, 대여, 담보제공하거나 타인에게 그 이용을 허락하는 행위와 소프트웨어를 역설계하거나 소스 코드의 추출을 시도하는 등 서비스를 복제, 분해 또는 모방하거나 기타 변형하는 행위도 금지됩니다.</li>
                                    <li>④ 회원은 대한민국의 법령, 회원이 거주하는 거주지를 관할하는 법령에 위반되는 행위를 할 수 없습니다.</li>
                                </ul>
                            </li>
                            <li> 회원은 서비스의 이용권한, 서비스 이용에 따른 회사와의 채권·채무, 기타 계약상 지위를 타인에게 대여·양도·증여하거나 담보로 제공할 수 없고, 이로 인한 불이익이 발생하는 경우 회사는 책임지지 아니합니다.</li>
                            <li> 회원이 관련 법령, 회사의 모든 약관 또는 정책을 준수하지 않는 경우, 회사는 회원의 위반행위 등을 조사하거나 회원의 서비스 이용을 잠시 또는 계속하여 중단할 수 있고, 회원의 서비스 재가입에 제한을 둘 수 있습니다.</li>
                            <li> 회사는 법령에서 정하는 기간 동안 회원이 서비스를 이용하기 위하여 로그인 혹은 접속한 기록이 없는 경우 회원이 등록한 전자우편, SMS 등 기타 유효한 수단으로 통지 후 회원의 정보를 파기하거나 분리 보관할 수 있고, 이로 인하여 서비스 이용을 위한 필수적인 정보가 부족할 경우 이용계약이 해지될 수 있습니다. 또한, 회원이 서비스에 일정 기간 이상 로그인하지 아니할 경우 회원의 계정이 도용당하는 등의 사정으로 인하여 회원에게 발생할 수 있는 피해를 예방하기 위하여, 회사는 회원의 서비스 이용에 필요한 추가 정보를 요구할 수 있고, 특히 12개월 이상 로그인하지 아니할 경우 회사는 제17조 제4항의 규정에 따라 계정 정지에 따른 절차에 착수할 수 있습니다.</li>
                            <li> 회원이 회사의 서비스 이용이 현지 법률에 위반되거나 위반될 염려가 있는 장소에 거주하고 있는 경우, 자신의 서비스 이용에 따른 불이익이 발생할 수 있음을 확인하여야 합니다. 특히, 회사가 회원이 거주하고 있는 장소를 확인한 결과 회원의 서비스 이용이 현지 법률의 위반을 구성하거나 구성할 염려가 있는 경우(회원의 서비스 이용에 대한 대한민국 내·외의 수사기관의 수사가 개시되는 경우 등), 제17조 제4항의 규정에도 불구하고 회사는 즉시 계정 정지에 따른 절차에 착수할 수 있습니다.</li>
                            <li> 법원의 명령, 수사기관의 수사협조 요청, 정부기관이 회원의 계정 및 전자지갑의 동결을 서면으로 요청하는 경우, 제17조 제4항의 규정에도 불구하고 회사는 회원의 동의 없이 해당 계정 및 전자지갑 등을 동결함과 동시에 계정 정지에 따른 절차에 착수할 수 있습니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제9조 (유료 서비스의 이용)</strong>
                        <ul>
                            <li> 회사는 무료로 서비스를 제공하고 있으나, 일부 서비스의 경우 유료로 제공할 수 있습니다. 예를 들면, 회원은 무료로 AWS Webinar이 추천하는 ICO에 참여할 수 있으나 타 전자지갑으로 출금 등을 이용하는 경우 서비스 이용에 따른 대가를 회사에게 지급하여야 합니다.</li>
                            <li> 회원이 회사가 제공하는 유료서비스를 이용하는 경우 회원은 회사가 정하는 방법으로 서비스 이용에 따른 대가를 지급하여야 합니다. 만일 정기적인 결제가 이루어지는 서비스의 경우 회원이 직접 해당 서비스의 이용을 중단하고 정기 결제의 취소를 요청하지 않는 한 매월 결제가 이루어집니다.</li>
                            <li> 회사는 결제의 이행을 위하여 필요한 회원의 개인정보를 추가적으로 요구할 수 있고, 회원은 회사가 요구하는 개인정보를 정확하게 제공하여야 합니다.</li>
                            <li> 회원이 회원의 귀책사유로 이용요금의 환불을 요청하는 경우라 하더라도, 회사가 제공하는 유료서비스가 결제 후 1회의 이용 만으로 서비스의 이용이나 구매가 완료되는 서비스인 경우 해당 서비스를 이용한 후에는 환불이 불가능합니다. 또한, 회원이 본 약관을 위반하여 회사가 회원의 서비스 이용을 제한하거나 계약을 해지하는 경우 회사는 회원에게 환불을 할 의무가 없습니다.</li>
                            <li> 제4항의 규정에도 불구하고 회사는 아래 각 호의 경우에 회원이 결제한 금원을 환불합니다.
                                <ul>
                                    <li>① 회사의 귀책사유로 인하여 회원이 서비스를 전혀 이용하지 못한 경우</li>
                                    <li>② 회원이 요청한 서비스가 전혀 제공되지 않은 경우</li>
                                </ul>
                            </li>
                            <li> 회원은 이용요금에 대하여 이의를 제기할 수 있습니다. 단, 이용요금에 관한 이의는 그 사유 발생을 안 날로부터 1월, 그 사유가 발생한 날로부터 3월 이내에 제기하여야 합니다. 만일, 위 기간 내에 이의를 제기하지 아니하는 경우 회원의 이의와 관련된 권리는 소멸합니다.</li>
                            <li> 회사는 과·오금이 발생한 경우 또는 전액 환불의 경우 이용대금의 결제와 동일한 방법으로 환불합니다. 다만, 동일한 방법으로 환불이 불가능하거나 서비스의 중도해지로 인한 부분 환불 등의 경우에는 회사가 정하는 별도의 방법으로 환불합니다.</li>
                            <li> 본 약관의 규정과 서비스 개별약관의 내용이 충돌하는 경우 각 개별약관의 규정에 따릅니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제10조 (서비스의 이용, 변경 및 종료)</strong>
                        <ul>
                            <li> 회사는 서비스를 365일, 24시간 쉬지 않고 제공하기 위하여 최선의 노력을 다합니다. 다만, 장비의 유지 및 보수를 위한 정기·임시 점검 또는 다른 상당한 이유로 서비스의 제공이 일시 중단될 수 있고, 이 때에는 미리 서비스 제공 화면에 공지합니다. 만일, 회사로서도 예측할 수 없는 이유로 서비스가 중단된 때에는 회사가 상황을 파악하는 즉시 최대한 빠른 시일 내에 서비스를 복구하도록 노력합니다.</li>
                            <li> 회사의 서비스 제공을 위하여 계약한 회사의 협력사와의 계약 종료 및 변경, 신규서비스 개시 등의 사유로 서비스의 내용이 변경되거나 서비스가 종료될 수 있습니다. 회사는 서비스 변경 사항 또는 종료에 관하여 서비스 초기 화면이나 개별 서비스의 화면 또는 공지사항 란에 게시합니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제11조 (이용계약 해지)</strong>
                        <ul>
                            <li> 회원이 서비스의 이용을 원하지 아니하거나 본 약관에 동의하지 아니하는 경우, 회원은 언제든지 서비스 내 제공되는 메뉴 또는 고객센터를 이용하여 서비스 이용계약의 해지를 신청할 수 있고, 회사는 법령이 정하는 바에 따라 이를 처리하여 회원을 탈퇴 처리합니다. 단, 회사는 회원의 신청에 따른 서비스 이용계약 해지를 처리하는 과정에서 회사의 고의 또는 과실 없이 회원에게 발생하는 손해에 대하여 책임을 부담하지 아니합니다.</li>
                            <li> 회원이 본 약관상 의무 또는 서비스 개별약관에서 정한 의무를 포함하여 총 2회 이상 의무를 위반하거나 회사가 제공하는 서비스의 전부 또는 일부의 중단 또는 이용 제한의 조치가 이루어졌음에도 불구하고 그 중단 또는 이용 제한의 해제조건이 성취되지 아니하는 경우, 회사는 제17조 제4항에서 정한 절차에 착수하거나 사전에 이용계약 해지 예정임을 통지하고 이용계약을 해지할 수 있습니다.</li>
                            <li> 이용계약이 해지되는 경우, 회사는 법령 및 개인정보처리방침에 따라 회원의 정보를 보유하는 경우를 제외하고 회원의 정보를 삭제합니다. 이 경우 회원은 회사가 보유하고 있는 회원 정보의 제공을 요청할 수 없습니다.</li>
                            <li> 유료서비스 이용계약을 이용한 경우 회원은 본 약관 제10조에서 규정한 바에 따라 환불을 받을 수 있을 뿐, 이 외의 방법으로 환불을 요청할 수 없습니다. 다만, 서비스 개별약관에 본 약관과 다른 계약해지 방법 및 효과를 규정하고 있는 경우 각 개별약관의 규정에 따릅니다.</li>
                            <li> 이용계약이 해지된 경우라도 회원은 다시 회사에 대하여 이용계약의 체결을 신청할 수 있습니다. 다만, 다시 이용계약을 체결함에 있어 시간적 제한 및 본 약관 상의 제한 등이 따를 수 있습니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제12조 (개인정보의 보호)</strong>
                        <p>회원의 개인정보는 서비스의 원활한 제공을 위하여 회원이 동의한 목적과 범위 내에서만 이용됩니다. 회사는 법령에 의하거나 회원이 별도로 동의하지 아니하는 한, 회원의 개인정보를 제3자에게 제공하지 아니합니다. 이에 대한 자세한 사항은 개인정보처리방침에서 정합니다.</p>
                    </li>
                </ul>

                <h2>제4장 서비스의 설명</h2>
                <ul>

                    <li> <strong>제13조 (용어의 정의)</strong>
                        <p>본 장에서 사용되는 용어의 정의는 아래와 같고(본 장 외에도 문맥이 허용하는 한 본 약관에서 사용된 용어는 제13조의 정의에 따릅니다), 본 조에서 정의되지 아니한 용어의 정의는 회사가 영위하고 있는 사업의 동종 업계에서 통용되는 용어 및 이에 준하는 용어의 정의에 따릅니다. 단, 암호화폐에 관한 대한민국 내 법령상 정의가 존재하지 아니하는 경우, 본 조에 의한 용어의 정의는 암호화폐의 법적 성질 및 이에 대하여 확립되지 아니한 법률 해석을 보증하는 것이 아니고, 본 약관이 적용되는 당사자 사이의 분쟁이라 하더라도 대한민국 내 정부기관 및 사법기관은 본 약관에서 규정한 용어의 정의에 기속되지 아니함을 유의하시기 바랍니다.</p>
                        <ul>
                            <li> 암호화폐 : 비트코인(BTC), 이더리움(ETH), 이더리움 클래식(ETC) 등 기반 블록체인 네트워크에서 전자적으로 존재하는 정보로, AWS Webinar 서비스에서 거래되는 대상</li>
                            <li> ICO : 새롭게 발행되는 암호화폐를 선발행하여 기존의 암호화폐와 특정한 비율에 따라 교환하는 방법으로, AWS Webinar을 통해 ICO에 참여할 수 있음</li>
                            <li> 전자지갑 : 암호화폐의 이용자를 식별할 수 있는 고유 정보로서, 회사가 회원의 계정에게 이용을 허락하는 고유 정보</li>
                        </ul>
                    </li>
                    <li> <strong>제14조 (AWS Webinar 서비스의 내용)</strong>
                        <ul>
                            <li> 회사는 회원이 회사의 모바일/웹페이지 및 어플리케이션에서 비트코인(BTC), 이더리움(ETH), 이더클래식(ETC) 및 이에 준하는 암호화폐{이하 비트코인(BTC), 이더리움(ETH), 이더클래식(ETC) 및 이에 준하는 암호화폐를 통칭하여 ‘암호화폐’라 합니다}와 ICO를 통해 신규발행된 암호화폐와 교환할 수 있는 서비스(이하 ‘AWS Webinar 서비스’라 합니다)를 제공합니다.</li>
                            <li> 회사는 AWS Webinar 서비스에 부수하여 아래 각 호에 해당하는 서비스를 제공할 수 있습니다.
                                <ul>
                                    <li>① 암호화폐 관련 정보</li>
                                    <li>② 전자지갑의 잔고, 체결내역, 주문가능범위 등 전자지갑의 정보 제공</li>
                                    <li>③ 암호화폐 매수주문</li>
                                    <li>④ 암호화폐의 전송 서비스</li>
                                    <li> ⑤ 기타 회사가 제공하는 서비스</li>
                                </ul>
                            </li>
                            <li> 회사는 회원이 제1항의 서비스를 이용할 수 있도록 회원에게 회사가 제공하는 암호화폐의 전자지갑 중 회원이 이용을 신청한 전자지갑을 이용할 수 있는 서비스를 제공합니다.</li>
                            <li> 회원은 회사가 제공하는 서비스에서 허용하는 방법으로 AWS Webinar 서비스를 이용하여야 합니다.</li>
                            <li> 회사는 AWS Webinar 서비스에 부가하는 별도의 서비스를 제공할 수 있고, 이에 관한 사항은 서비스 개별 약관에서 규정합니다.</li>
                            <li> 회사는 회사의 사정 및 관련 법령의 제·개정 등에 따라 불가피한 경우, AWS Webinar 서비스의 내용을 변경하거나 중단할 수 있습니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제15조 AWS Webinar 서비스의 이용 방법 및 이용 대가</strong>
                        <ul>
                            <li> 회사는 ICO를 진행하는 업체와 합의된 가격에 따라 암호화폐를 구매할 수 있는 서비스를 제공합니다.</li>
                            <li> 회원은 회사가 제공하는 서비스의 사용 방법에 따라, 전자지갑에 보유 중인 암호화폐를 제3자에게 전송하거나 제3자로부터 전자지갑으로 전송받을 수 있습니다. 이 경우에는 해당 암호화폐가 소속된 블록체인 내에서의 필요한 절차를 이행하는 데에 요구되는 시간이 도과한 후에 거래가 완료됩니다. 회사는 회원이 지정하는 전자지갑에 암호화폐를 전송하는 업무를 수행할 뿐, 암호화폐의 전송은 회사와 무관한 블록체인 네트워크에서 이루어지고, 그 과정에서 채굴자에게 지급될 예상 수수료를 회원으로부터 지급받아 채굴자가 요구하는 수수료를 지급하며 채굴자에게 지급하는 수수료는 전송 대기수요 및 채굴 공급수요에 따라 변동(채굴 난이도가 상승하거나 전송의 대기수요가 채굴공급을 상회할 경우 채굴자는 더 높은 수수료를 지급하는 블록체인을 먼저 채굴합니다)됩니다.</li>

                            <li> 회원은 회사에게 AWS Webinar 서비스 이용에 따른 대가를 지급하여야 합니다. AWS Webinar 서비스 이용에 따른 대가는 회사의 모바일/웹페이지 및 어플리케이션 중 AWS Webinar 서비스 이용방법에 명시되어 있고, 회사는 시장 및 회사의 상황에 따라 언제든지 이용에 따른 대가를 수정하여 공시하고, 공시일에 지정한 효력 발생일부터 수정된 내용의 대가를 수익할 수 있습니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제16조 (서비스 이용 제한 및 유의사항)</strong>
                        <ul>
                            <li> 회사는 아래의 기준에 따라 회원의 서비스 이용을 제한할 수 있습니다. 이 경우 회사는 그 사유, 일시 및 기간을 정하여 회원이 기재한 정보에 따른 전자우편, SMS 등의 방법으로 통지하고, 회원은 회사의 서비스 이용 제한에 대하여 통지일로부터 7일간 이의를 신청할 수 있습니다.
                                <ul>
                                    <li> • 명의 (연락처) 미확인</li>
                                    <li> • 회원이 미성년자 또는 민법상 제한능력자임이 확인된 경우</li>
                                    <li> • 해킹/사기 사고 발생 (긴급제한 요청시 해당내용으로 간주)</li>
                                    <li> • 사고회원 관련자(또는 관련된 것으로 의심할 만한 합리적 이유가 있는 자)</li>
                                    <li> • 결제보안 연속 오류</li>
                                    <li> • 탈퇴 신청</li>
                                    <li>• 범죄 행위에 이용되는 경우</li>
                                    <li>• 부당한 이익을 얻기 위하여 시세조종 등의 행위, 시장의 질서를 교란하는 행위 등을 하는 경우</li>
                                    <li> • 기타 관리자가 정상적인 서비스 제공에 심각한 장애(DDos, 인증받지 아니한 방법으로의 접속, 채굴에 따른 트래픽발생등을 포함하고, 이에 제한되지 아니합니다)를 유발하는 것으로 판단하는 경우</li>
                                    <li> • 비밀번호 연속 오류</li>
                                    <li> • 해킹/사기 사고 발생</li>
                                    <li> • 명의 도용으로 의심되는 경우</li>
                                    <li> • 법원 및 정부기관의 요청이 있는 경우</li>
                                    <li> • 거래 과정에서 발생한 오류 정보의 확인 요청을 거부하는 등 부정 이용 행위가 있는 것으로 의심되는 현저한 사정이 있는 경우</li>
                                    <li> • 서비스 이용 정책 변경에 따른 유예기간이 도과되었음에도 불구하고 변경된 정책을 이용할 수 있는 회원 정보 등이 충족되지 아니한 경우</li>
                                    <li> • 동일한 명의의 사용자가 계정을 2개 이상 신청/보유/사용하는 것으로 확인되는 경우</li>
                                    <li> • 회원이 제3자에게 계정의 이용을 허락하거나 계정을 대여하는 등 실제 이용자와 회원의 명의가 일치하지 아니한 것으로 의심되는 경우</li>
                                    <li> • 본인 인증 절차의 이행을 전제하는 서비스임에도 불구하고 회사가 요청하는 본인 인증 절차를 이행하지 아니하는 경우</li>
                                    <li> • 부정한 이용 또는 비정상적인 거래를 위하여 서비스를 이용하는 것으로 의심되는 현저한 사정이 있는 경우</li>
                                    <li> • 회사의 서비스 고객지원과정에서 회원이 누적하여 3회이상 회사의 직원 또는 회사의 업무처리를 위탁받은 자에게 폭언/고성 등의 행위를 하고, 이로 인하여 회사의 직원 또는 회사의 업무처리를 위탁받은 자가 원활한 고객 지원이 불가능하다고 판단하는 경우</li>
                                    <li> • 회사의 서비스 고객지원과정에서 안내된 절차를 이행하지 아니하거나, 회원의 서비스 요청에 따라 회사가 필요로 하는 회사의 요청을 거부하는 경우</li>
                                </ul>
                            </li>
                            <li> AWS Webinar 서비스의 유의사항은 아래와 같습니다. 회원은 아래의 유의사항을 확인하고 자신의 비용과 책임 하에 서비스를 이용하여야 합니다.
                                <ul>
                                    <li>① AWS Webinar 서비스는 ICO를 통해 신규발행하는 암호화폐 구매를 중개하는 서비스로, 회사는 어떠한 경우에도 일체의 암호화폐의 가치 및 환금성을 보증하지 아니하고, 회원이 암호화폐를 구매함으로 인하여 회원에게 발생하는 경제적인 이해관계는 전적으로 회원이 부담하여야 합니다.</li>
                                    <li>② 회사가 회원에게 제공하는 암호화폐의 시세는 프로그램 또는 시스템 상의 오류, 정보비대칭, 국내외 통신 환경상의 제약 등 기술적인 한계로 인하여 실제의 거래 시세와 일시적으로 불일치할 수 있습니다. 다만, 회사는 회원에게 제공하는 암호화폐의 시세의 정합성을 제고하기 위하여 최선의 노력을 다하고 있습니다.</li>
                                    <li>③ 회사는 회사가 보유하고 있는 회원의 개인정보의 진실성을 보증하지 아니합니다. 다만, 회사는 회원이 회사에게 제공한 정보가 진실되지 아니한 점을 확인하는 즉시 해당 회원의 AWS Webinar 서비스 이용 중단 및 이에 상응하는 조치를 취할 의무가 있습니다.</li>
                                    <li>④ 회원은 회원의 계정이 제3자로부터 도용당할 경우 법령에 의한 책임을 부담할 수 있습니다.</li>
                                    <li>⑤ 대한민국을 포함한 세계 각 국의 법률, 대한민국을 포함한 세계 각 국의 정책, 유권해석, 경제환경 등에 따라 매우 큰 변동성이 있을 수 있습니다. 특히, 암호화폐의 거래에 대한 법률행위의 해석은 국가 별로 상이하여 법정화폐와 다른 특유의 위험성이 내재되어 있으므로, 회원은 반드시 이 점에 주의하여야 합니다.</li>
                                    <li>⑥ 대한민국은 암호화폐의 법적 지위를 공식적으로 인정하고 있지 않고, 특히 암호화폐 거래를 금융거래로 인정하고 있지 않습니다. 따라서 대한민국의 정책 변경에 따라 암호화폐의 법적 지위 및 가치 변동이 발생할 수 있습니다.</li>
                                    <li>⑦ 회원이 이용 중인 통신서비스는 회사의 거래 서비스와 아무런 관련이 없습니다. 즉, 회원은 이용 중인 통신서비스의 속도, 상태 등을 반드시 확인하여야 하고, 통신상태가 원활하지 아니하는 경우에는 불의의 사고를 예방하기 위하여 거래행위를 자제할 필요가 있습니다.</li>
                                    <li> ⑧ 암호화폐 거래서비스를 비롯한 각종 온라인 거래는 첨단범죄집단의 목표가 되고 있습니다. 회사는 회사의 거래서비스의 보안을 위하여 최선을 다하고 있으나, 실제 발생하는 해킹 사고의 대부분은 회원 개인이 이용 중인 와이파이 네트워크의 해킹, 비밀번호 등 계정 정보 관리 상의 과실, 클라우드 서비스에 기록된 개인정보의 해킹 등으로 인한 2차 사고입니다. 이러한 점을 감안하여 반드시 첨단범죄의 발생을 예방할 필요가 있습니다.</li>
                                    <li>⑨ AWS Webinar 서비스는 연중무휴로 제공되고 있기 때문에, 회사는 거래 시스템의 정합성을 유지함으로써 회원의 서비스 이용 과정에서 발생할 수 있는 불편함을 최소화하고 있습니다. 이에 회사는 부득이하게 서비스 제공을 위하여 회사의 서버를 점검하고 있고, 정기점검 및 임시점검의 경우 사전에 공지함으로써 회원의 예측 가능성을 높이고 있습니다.</li>
                                    <li>⑩ 제9호에도 불구하고, 회사가 예상하지 못한 사유로 인하여 긴급하게 회사의 서버를 점검할 필요가 있습니다. 이 경우, 회사는 긴급점검을 할 수 있고, 긴급점검 과정에서 AWS Webinar 모바일/웹사이트 접속이 불가할 경우, 점검의 사유 및 점검 진행 경과를 회사의 미디움 블로그(https://medium.com/@webinar)을 통하여 공지합니다.</li>
                                    <li>⑪ 회사는 제10호의 긴급 점검 중 암호화폐의 시세가 급변하거나 예상하지 못한 사정이 발생하여 회원에게 손해가 발생하는 것으로 판단될 때에, 일정 시간동안 접수된 주문을 취소할 수 있도록 하는 등의 방법으로 회원의 손해를 최소화할 수 있습니다.</li>
                                </ul>
                            </li>

                            <li> 회사가 회원의 계정 사용을 제한하는 경우, 회원은 회사에 대하여 아래와 같은 의무를 부담합니다.
                                <ul>
                                    <li>① 계정 정지시 회사는 계정에 대한 자체 조사를 실시하며, 회원은 회사의 조사에 적극적으로 협력해야 합니다.</li>
                                    <li>② 계정 정지시 회원은 계정에 KRW 포인트 충전 또는 인출을 할 수 없으며, 각종 전자지갑을 통한 거래를 할 수 없습니다.</li>
                                    <li>③ 계정에 대한 자체 조사 종료 후 회사는 재량에 따라 7일 간의 사전 통지 후, 회원 계정 사용을 제한할 수 있고, 회사는 이 같은 결정에 대한 이유를 통지하며, 회원은 이에 대한 소명 절차를 가질 수 있습니다.</li>
                                    <li> ④ 회원은 제3호의 7일 간의 통지기간 동안 전자지갑에서 보유한 암호화폐 잔고를 청산할 수 있습니다.</li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>

                <h2>제5장 기타</h2>
                <ul>

                    <li> <strong>제17조 (손해배상 및 특약)</strong>
                        <ul>

                            <li> 회사는 법령상 허용되는 한도 내에서 서비스와 관련하여 본 약관에 명시되지 않은 어떠한 구체적인 사항에 대하여도 약정이나 보증을 하지 않습니다. 또한, 회사는 회사가 발행하거나 지급을 보증하지 아니한 어떠한 형태의 물건 또는 암호화폐의 가치를 보증하지 아니합니다. 또한 회원이 작성하는 등의 방법으로 서비스에 게재된 정보, 자료, 사실의 신뢰도, 정확성 등에 대해서는 보증을 하지 않습니다.</li>
                            <li> 회사는 회사의 고의 또는 과실로 인하여 회원이 손해를 입게 될 경우 대한민국의 법령에 따라 회원에게 발생하는 손해를 배상합니다. 단, 전시·사변·홍수·지진 기타 이에 준하는 천재지변 또는 대한민국 정부기관의 사실상 또는 법률상 행정처분 및 명령 등 회사의 귀책사유가 없는 불가항력으로 인하여 회원에게 발생한 손해는 배상하지 아니합니다.</li>
                            <li> 회원이 회사에게 제공한 정보가 사실과 다를 경우, 회사는 언제든지 서비스의 제공을 중단하고 본 약관에 의한 계약 전체 또는 일부를 해지할 수 있으며, 이로 인하여 회사에게 손해가 발생한 경우 그 손해의 배상을 청구할 수 있습니다.</li>
                            <li> 회원이 회사에게 본 조에 의하여 손해의 배상을 청구할 경우, 회사는 회원이 희망하는 경우에 한하여 회원이 최종적으로 보유한 것으로 확인되는 전자지갑 내 암호화폐를 지급하는 방법으로 회원의 손해를 배상할 수 있습니다.</li>
                            <li> 회원의 불법행위로 인하여, 회사에게 손해가 발생할 경우, 회사는 회원에게 법률상 손해배상청구권을 행사할 수 있습니다. 그러므로 반드시 법령을 준수하여 회사의 서비스를 이용하여 주시기 바랍니다.</li>
                        </ul>
                    </li>

                    <li> <strong>제18조 (통지 및 공지)</strong>

                        <p>회사는 본 약관 및 서비스 이용에 관한 중요한 사항을 서비스 초기화면 또는 공지사항 란에 수시로 게시하는 방법으로 공지하고, 필요한 경우 계정에 등록된 이메일 또는 SMS를 발송하는 방법으로 통지할 수 있습니다.</p>
                    </li>

                    <li> <strong>제19조 (분쟁의 해결)</strong>

                        <p>본 약관 또는 서비스는 대한민국 법령에 의하여 규정되고 이행되고, 회원의 국적 및 주거지와 관계 없이 분쟁의 해결에 따른 준거법은 대한민국의 법령으로 합니다. 다만, 대한민국 내에서 암호화폐 등에 관한 법령 또는 대법원 판결이 없는 경우, 대한민국 외에서의 선례 또는 유력한 견해가 본 약관 또는 서비스의 분쟁에 관한 준거법령의 효력을 가질 수 있습니다. 서비스 이용과 관련하여 회사와 회원 간의 분쟁이 발생하면 당사자 사이의 해결을 위하여 노력하되, 그럼에도 불구하고 해결되지 아니하면 대한민국의 민사소송법에 따른 관할 법원에 소를 제기할 수 있고, 대한민국 외의 법원 또는 사법기관, 중재기관 외 기타 이에 준하는 기관에 대한 소 제기는 허용되지 아니하며, 회원 또한 이에 동의하여야 합니다.</p>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary btn-block" data-dismiss="modal">확인</button>

            </div>
        </div>
    </div>
</div>
